.header {
    text-align: center;
    background-color: #f8b400;
    color: white;
    padding: 50px 20px;
}

.header h1 {
    font-size: 2.5rem;
}

.header .search-bar {
    margin-top: 20px;
}

.header .search-bar input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.header .search-bar button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
