.App {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  text-align: center;
}

main h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff5722;
}

main p {
  font-size: 1rem;
  color: #666;
}
